body{
	font-family: 'Droid Serif', arial, serif;
	text-align:center;
	background: #a46740 url(../images/bg.jpg);
}
#game{
	border-radius:10px;
	border:1px solid #666;
	background:#232 url(../images/table.jpg);
	width:500px;
	height:460px;
	margin:0 auto;
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;

}
/*将所有纸牌元素 放入，方便将纸牌元素放入游戏区域中*/
#cards{
	position:relative;
	width:380px;
	height:400px;
}
/*为每一张排定义perspective属性使其具有3D效果*/
.card{
	-webkit-perspective:600;
	width:80px;
	height:120px;
	position:absolute;
	-moz-transition:all .3s;
	-webkit-transition:all .3s;
	transition:all .3s;
}
.face{
	border-radius:10px;
	width:100%;
	height:100%;
	position:absolute;
	-webkit-transition-property:opacity,transform,box-shadow;
	-webkit-transition-duration: .3s;
	-webkit-backface-visibility:hidden;
}
/*设置牌的正面和背面样式*/

.front{
	background:#999 url(../images/deck.png) 0 -480px;
	z-index:10;
}
.back{
	background:#efefef url(../images/deck.png);
	-webkit-transform:rotate3d(0,1,0,-180deg);
	z-index:8;
}
.card:hover .face, .card-flipped .face{
	-webkit-box-shadow:0 0 10px #aaa;
}
.card-flipped .front{
	-webkit-transform:rotate3d(0,1,0,180deg);
	z-index:8;
}
.card-flipped .back{
	-webkit-transform:rotate3d(0,1,0,0deg);
	z-index:10;
}

/*删除纸牌时渐出效果*/
.card-removed{
	opacity:0;
}
/*从整副纸牌中显示不同纸牌图案*/
.cardAJ {background-position: -800px 0;}
.cardAQ {background-position: -880px 0;}
.cardAK {background-position: -960px 0;}
.cardBJ {background-position: -800px -120px;}
.cardBQ {background-position: -880px -120px;}
.cardBK {background-position: -960px -120px;}
.cardCJ {background-position: -800px -240px;}
.cardCQ {background-position: -880px -240px;}
.cardCK {background-position: -960px -240px;}
.cardDJ {background-position: -800px -360px;}
.cardDQ {background-position: -880px -360px;}
.cardDK {background-position: -960px -360px;}